\.idea/
nbproject
wp-config.php
wp-content/updraft
!/wp-content/uploads/certificate/.htaccess
!/wp-content/uploads/invoice/.htaccess
wp-content/uploads/*
wp-content/plugins/gleaf-inventory/vendor
wp-content/plugins/updraftplus
import/import-certificate.log
import/vendor
cron/clear-carts.log
quickbooks/vendor
notifications/vendor
notifications/new-inventories-email.log
notifications/new-inventories-sms.log
quickbooks/import-product.log
quickbooks/credentials.json
test.html
wp-content/plugins/aksimet
wp-content/plugins/contact-widgets
notifications/logs
info\.php
.htacess
